@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #16161a;
}

section {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}

section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000, #2cb67d, #000);
    animation: animasi 5s linear infinite;
}

@keyframes animasi {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

section span {
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    background: #181818;
    z-index: 2;
    transition: 1.5s;
}

section span:hover {
    background: #2cb67d;
    transition: 0s;
}

section .masuk {
    position: absolute;
    width: 400px;
    background: #222;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}

section .masuk .konten {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

section .masuk .konten h2 {
    font-size: 2em;
    color: #2cb67d;
    text-transform: uppercase;
}

section .masuk .konten .formulir {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

section .masuk .konten .formulir .kotakInput {
    position: relative;
    width: 100%;
}

section .masuk .konten .formulir .kotakInput input {
    position: relative;
    width: 100%;
    background: #333;
    border: none;
    outline: none;
    padding: 25px 10px 7.5px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
}

section .masuk .konten .formulir .kotakInput i {
    position: absolute;
    left: 0;
    padding: 15px 10px;
    font-style: normal;
    color: #aaa;
    transition: 0.5s;
    pointer-events: none;
}

.masuk .konten .formulir .kotakInput input:focus~i,
.masuk .konten .formulir .kotakInput input:valid~i {
    transform: translateY(-7.5px);
    font-size: 0.8em;
    color: #fff;
}

.masuk .konten .formulir .tautan {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.masuk .konten .formulir .tautan a {
    color: #fff;
    text-decoration: none;
}

.masuk .konten .formulir .tautan a:nth-child(2) {
    color: #2cb67d;
    font-weight: 600;
}

.masuk .konten .formulir .kotakInput input[type="submit"] {
    padding: 10px;
    background: #2cb67d;
    color: #000;
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.05em;
    cursor: pointer;
}

input[type="submit"]:active {
    opacity: 0.6;
}